---
import StarHeader from "../components/StarHeader.astro";
import WindowButtons from "../components/WindowButtons.astro";
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    title: "Humble Cup Coffee Co.",
    description: "A website for a local coffee shop in Fort Mill, SC.",
    image: "https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.10.12%E2%80%AFPM.png",
    link: "https://humble-cup-coffee-co.vercel.app/",
    githubLink: "https://github.com/hwilloug/humble-cup-coffee-co",
    techStack: ["Next.js", "Tailwind CSS", "Shadcn/UI", "Vercel"],
    body: `
      <p>I started this project by prompting Bolt.new to build a website for a coffee shop given some parameters. I wanted ease of use and mobile optimization, but I also wanted to capture the feel of the shop itself. Taking what Bolt.new gave me, I changed the layout to be more relevant to the shop, and added new features and pages.</p>
      <p>I chose Next.js because it will give me the flexibility to add server-side features in the future, such as ordering online. Otherwise, I would have chosen Astro, as that performs better for SEO and static sites.</p>
      <p>I used Tailwind CSS for styling, and Shadcn/UI for basic components. I used Vercel for deployment since it's free and links right up to my GitHub repo.</p>
      <p>I designed some of the graphics myself, such as the coffee bean dividers and the plant images.</p>
      <p>I added parallax scrolling to the home page on larger screens to give the site a bit more depth and personality. I did this by creating a hook for monitoring the scroll position and then using that to set the background position of the images.</p>
      <p class="line-through">Blurb on image optimization</p>
      <p class="line-through">Blurb on SEO</p>
    `
  },
  {
    title: "Hannah's Hobby Room",
    description: "My personal blog",
    image: "https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.25.30%E2%80%AFPM.png",
    link: "https://hannahshobbyroom.com/",
    githubLink: "https://github.com/hwilloug/hannahs-hobby-room",
    techStack: ["Astro", "Tailwind CSS", "Shadcn/UI", "Clerk", "Vercel", "AWS Lambda", "AWS SES"],
    body: `
      <p>This project has been a work in progress for a long time. I started it in 2021 when I barely knew anything about web development, and I've iterated on it many times since. This is the third version of the site.</p>
      <p>I chose Astro because I wanted a mostly static site that would perform well for SEO. I also just wanted to learn more about the framework.</p>
      <p>Since Astro isn't meant for server-side rendering, I had to do some fanangaling using server:defer to get the site to work with Clerk authentication, likes, and comments. See more about this on <a class="underline text-orange-500" href="https://hannahshobbyroom.com/blog/hannahs-hobby-room-refactor-to-astro/" target="_blank" rel="noopener noreferrer">my blog post</a>.</p>
      <p>Astro makes it super simple to add new articles, especially compared to the previous implementation where I was writing all my articles in React. With Astro, I can use markdown files and have the content automatically converted to HTML along with proper metadata.</p>
      <p>There are some legacy elements in the infrastructure of the site, such as some metadata being stored in AWS Aurora DB, and I am working on migrating it to be hosted on Vercel. The newsletter is also stored in AWS still and is sent out using Lambda and SES.</p>
      <p>Bonus info from previous versions: I had some fun with creating a 3D model of my actual hobby room using three.js and react-three-fiber. I added easter eggs to the model that will take you to different parts of the site. Unfortunately, I took down the model with V3. It wasn't optimized for mobile, took forever to load, and I didn't have the skills in Blender to optimize it, but it was a fun learning experience.</p>
    `
  },
  {
    title: "Whispering Willow Diary",
    description: "A journaling/diary website geared toward people with mood disorders.",
    image: "https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-23+at+4.29.18%E2%80%AFPM.png",
    link: "https://whisperingwillowdiary.com/",
    githubLink: "https://github.com/hwilloug/whispering-willow-diary-v3",
    techStack: ["Next.js", "tRPC", "Drizzle", "Tailwind CSS", "Shadcn/UI", "Vercel"],
    body: `
      <p>I started this project in 2023 when I was just a baby developer, and I've iterated on it many times since. This is the third version of the site.</p>
    `
  },
  {
    title: "Hannah Dot Dev",
    description: "My personal portfolio website",
    image: "https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-25+at+1.34.34%E2%80%AFPM.png",
    link: "https://hannahwilloughby.dev/",
    githubLink: "https://github.com/hwilloug/hannah-dot-dev-v2",
    techStack: ["Astro", "Tailwind CSS", "Vercel"],
    body: `
      <p>I started this project back in 2022, and I thought it'd be fun to just make a pure HTML/CSS site. It didn't seem worth it to use a framework. This was great for a first pass and thinking differently than React, but the site really needed updating to be more modern. Since I started this project, I've found Astro, which is perfect for this kind of site, so I gave it a good 'ol refactor.</p>
      <p>To start, I prompted Bolt.new to build me a single-page static website. I prompted it to make the site styled like Windows 95, then exported the code to a new repository and edited it from there with my unique style. I used Tailwind CSS for styling, and Vercel for deployment since it's free and links right up to my GitHub repo.</p>
      <p>I designed all the pixel art graphics myself using a program called Aesprite. Then, it was just a matter of styling to my liking and adding some interactivity.</p>
    `
  },
  {
    title: "Tega Cay Animal Hospital",
    description: "A website for a local animal hospital in Tega Cay, SC.",
    image: "https://hannahdotdev-images.s3.us-east-1.amazonaws.com/Screenshot+2025-02-26+at+6.48.14%E2%80%AFPM.png",
    link: "https://tcah.vercel.app/",
    githubLink: "https://github.com/hwilloug/tcah-v2",
    techStack: ["Astro", "Tailwind CSS", "Vercel"],
  },
];
---

<Layout title="Project Technical Information">
  <div class="container space-y-8 max-w-md mt-24">
    {projects.map((project) => (
      <div class="window">
        <div class="window-title">
          <h2>{project.title}</h2>
          <WindowButtons />
      </div>
      <div class="content">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">
          <a class="mr-4 mb-4" href={project.link} target="_blank" rel="noopener noreferrer">
            <img class="project-image w-full object-top" src={project.image} alt={project.title} />
          </a>
          <div>
            <StarHeader title={project.title} />
            <p class="mb-4">{project.description}</p>
            <div class="flex flex-wrap gap-2 items-center mb-4">
              {
                project.techStack.map((tech) => (
                  <p class="bg-orange-300 px-2 py-1 rounded-md">{tech}</p>
                ))
              }
            </div>
          </div>
        </div>
        {project.body && <div class="flex flex-col gap-4" set:html={project.body} />}
        <div class="flex justify-end gap-2 mt-8">
          <a class="action-button" href={project.link} target="_blank" rel="noopener noreferrer">View Project</a>
          <a class="action-button" href={project.githubLink} target="_blank" rel="noopener noreferrer">View Source Code</a>
        </div>
        </div>
      </div>
    ))}
  </div>
</Layout>
